
@{
    ViewData["Title"] = "Առարկաների ցանկ";
}
<div>
    <h2>Ուսումնական պլան</h2>
    <h4>@ViewBag.ProfessionsList.Name</h4>
    <div class="table-responsive">
        <div class="btn row">
            @if (ViewBag.UserRoles.Contains("CURRICULUMMAKER"))
    {
        <button class="btn btn-primary" type="button" id="edit"><span class="glyphicon glyphicon-pencil"></span> Փոփոխել </button>
        <button class="btn btn-primary" type="button" id="save" style="display:none"><span class="glyphicon glyphicon-ok"></span> Հաստատել </button>
}
        </div>
        <table class="table table-bordered table-striped" id="tbl_subjects" disabled>
            <thead>
                @{ List<int> level = new List<int>();
                    level.Add(0);
                }
                <tr style="background-color:none">
                    <th>Դասըթացներ/Կիսամյակներ</th>
                    @foreach (var item in ViewBag.Subject)
                    {
                        var c = 0;
                        @for (var i = 0; i < level.Count; i++)
                        {
                            if (item.Level == level[i])
                            {
                                c++;
                                break;
                            }
                        }
                        if (c == 0)
                        {
                            <th>@item.Level</th>
                            level.Add(item.Level);
                            c++;
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @{var n = ""; }
                @foreach (var item in ViewBag.Subject)
                {
                    if (item.Name == n)
                    {

                    }
                    else
                    {
                        <tr>
                            <th>@item.Name</th>
                            @foreach (var item1 in ViewBag.Subject)
                            {

                                if (item1.Name == item.Name)
                                {
                                    <th>@item1.Credit ( @item.LabHours:@item.LectionHours:@item.PracticalHours )</th>
                                }
                            }
                        </tr>
                        n = item.Name;
                    }
                }
            </tbody>

        </table>
    </div>
</div>

@section Scripts{

    <script>
        
        $(document).ready(function () {
            // $("#edit").prop("disabled", true);
            $("#tbl_subjects").css({ opacity:0.6});

            $("#edit").click(function () {
                $("#save").show();
                // $("#tbl_subjects").prop("disabled", false);
                $("#tbl_subjects").css({ opacity: 1 });
            });
            $("#save").click(function () {
                $("#save").hide();
                // $("#tbl_subjects").prop("disabled", false);
                $("#tbl_subjects").css({ opacity: 0.6 });
            });
        });

        

    </script>
}
