@model IEnumerable<SubjectViewModel>
@{
    ViewData["Title"] = "Օգտատերերի ցուցակ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("_AdminSideMenu", ViewBag.User as UserViewModel)
    <div class="table-responsive col-md-9 col-sm-8">
        <div>
            <h4 class="col-md-6">Ներկայացված են բոլոր ներկայիս օգտատերերը</h4>
        </div>
        @<h4 class=""><em>«@ViewBag.Profession.Name»</em> մասնագիտության ներկայիս առարկաները</h4>
        <div class="table-responsive pre-scrollable">
            <div class="btn row">
                @if (ViewBag.UserRoles.Contains("SUBJECTMAKER"))
            {
                <button class="btn btn-primary" type="button" onclick="location.href = '@Url.Action("MakeDependencies", "Outcomes", new { professionId = ViewBag.Profession.Id})'"><span class="glyphicon glyphicon-wrench"></span>Edit</button>

        }
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Level)*@ hqb  kmklas
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.SubjectModule)*@ anvtangutyun
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Credit)
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Credit) @Html.DisplayNameFor(model => model.LactionHours):@Html.DisplayNameFor(model => model.LabHours):@Html.DisplayNameFor(model => model.CoursHours)
                        </th>
                    </tr>
                </thead>
               
            </table>
        </div>

        @if (TempData.ContainsKey("UserDeleted"))
    {<label class="alert alert-info">@TempData["SubjectDeleted"]</label>}
        @if (TempData.ContainsKey("UserUpdated"))
    {<label class="alert-info alert">@TempData["SubjectUpdated"]</label>}
        <div id="tblUsers">

        </div>
    </div>
</div>
@section Scripts{
    <script src="~/custom_scripts/SubjectList.js">
    </script>
    <script>
        $(document).ready(function () {
            onSearch("");
        });

        function onSearch(searchTerm) {
            $.ajax({
                method: "GET",
                data: {
                    searchTerm
                },
                url: "/Subject/SubjectListTable"
            }).done(function (data) {
                $("#tblSubjects").html(data);
            });

        }

    </script>
}

@section Styles{
    <link href="~/custom_contents/_BaseAdminSideMenu.css" />
}
