@model IEnumerable<SubjectViewModel>
@{
    ViewData["Title"] = "Օգտատերերի ցուցակ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("_AdminSideMenu", ViewBag.User as UserViewModel)
    <div class="table-responsive col-md-9 col-sm-8">
        <div>
            <h4 class="col-md-6">Ներկայացված են բոլոր ներկայիս օգտատերերը</h4>
        </div>
        @<h4 class=""><em>«@ViewBag.Profession.Name»</em> մասնագիտության ներկայիս առարկաները</h4>
        <div class="table-responsive pre-scrollable">
            <div class="btn row">
                @if (ViewBag.UserRoles.Contains("SUBJECTMAKER"))
            {
                <button class="btn btn-primary" type="button" onclick="locatio@model IEnumerable<DiplomaProject.Domain.ViewModels.SubjectViewModel>

@{
    ViewData["Title"] = "Առարկաների ցանկ";
}

<h2>Առարկաների ցանկ</h2>
<h4 class=""><em>«@ViewBag.Profession.Name»</em> մասնագիտության ներկայիս առարկաները</h4>
<div class="btn row">
    @if (ViewBag.UserRoles.Contains("SUBJECTMAKER"))
    {
        <button class="btn btn-primary" type="button" onclick="location.href = '@Url.Action("MakeDependencies", "Outcomes", new { professionId = ViewBag.Profession.Id})'"><span class="glyphicon glyphicon-wrench"></span>Որոշել վերջնարդյունքների կապերը</button>
        <button class="btn btn-primary" type="button" onclick="location.href = '@Url.Action("Subjects", "Outcomes", new { professionId = ViewBag.Profession.Id})'"><span class="glyphicon glyphicon-cog"></span>Ձևավորել առարկաներ</button>
        <button class="btn btn-link" type="button" onclick="location.href = '@Url.Action("SubjectSequences", "Subject", new { professionId = ViewBag.Profession.Id})'"><span class="glyphicon glyphicon-plus"></span>Բաշխել ըստ կիսամյակների</button>
    }
    @if (ViewBag.UserRoles.Contains("LABORMAKER"))
    {
        <button class="btn btn-primary" type="button" onclick="location.href = '@Url.Action("Distribution", "Subject", new { professionId = ViewBag.Profession.Id})'"><span class="glyphicon glyphicon-wrench"></span>Կրեդիտների և ժամերի հաշվարկ</button>
        <button class="btn btn-primary" type="button" onclick="location.href = '@Url.Action("MakeDependencies", "Subject", new { professionId = ViewBag.Profession.Id})'"><span class="glyphicon glyphicon-wrench"></span>Կրեդիտների և ժամերի դիտում</button>

    }

</div>
<div class="table-responsive pre-scrollable">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectModule)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Level)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Credit)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectModule)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalHours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Credit)
                    </td>
                    <td>
                        <a asp-action="SubjectDetails" asp-controller="Subject" asp-route-subjectId="@item.Id">Մանրամասներ</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Styles{
    <link rel="stylesheet" href="~/custom_contents/SubjectList.css" />
}n.href = '@Url.Action("MakeDependencies", "Outcomes", new { professionId = ViewBag.Profession.Id})'"><span class="glyphicon glyphicon-wrench"></span>Edit</button>

        }
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Level)*@ hqb  kmklas
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.SubjectModule)*@ anvtangutyun
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Credit)
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Credit) @Html.DisplayNameFor(model => model.LactionHours):@Html.DisplayNameFor(model => model.LabHours):@Html.DisplayNameFor(model => model.CoursHours)
                        </th>
                    </tr>
                </thead>
               
            </table>
        </div>

        @if (TempData.ContainsKey("UserDeleted"))
    {<label class="alert alert-info">@TempData["SubjectDeleted"]</label>}
        @if (TempData.ContainsKey("UserUpdated"))
    {<label class="alert-info alert">@TempData["SubjectUpdated"]</label>}
        <div id="tblUsers">

        </div>
    </div>
</div>
@section Scripts{
    <script src="~/custom_scripts/SubjectList.js">
    </script>
    <script>
        $(document).ready(function () {
            onSearch("");
        });

        function onSearch(searchTerm) {
            $.ajax({
                method: "GET",
                data: {
                    searchTerm
                },
                url: "/Subject/SubjectListTable"
            }).done(function (data) {
                $("#tblSubjects").html(data);
            });

        }

    </script>
}

@section Styles{
    <link href="~/custom_contents/_BaseAdminSideMenu.css" />
}
