@model UserViewModel

@{
    ViewData["Title"] = $"Delete user {Model?.Username}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h3>You are going to delete the user @Model?.Username</h3>

<h4>Are you sure you want to continue ?</h4>
<div class="panel panel-danger">
    <div class="panel-heading">User details</div>
    <hr />
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CurrentRoles)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
        </dl>

        <form method="post" asp-action="Delete" asp-controller="Admin" asp-antiforgery="true">
            @Html.Hidden("userId", Model.Id)
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="GetUsers" class="btn btn-default">Back to List</a>
        </form>
    </div>
</div>
