@model UserViewModel

@{
    ViewData["Title"] = $"Ջնջել {Model?.Username} օգտագործողին";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Դուք պատրաստվում եք ջնջել @Model?.Username օգտատիրոջը</h3>

<h4>Շարունակել ամեն դեպքում</h4>
<div class="panel panel-danger">
    <div class="panel-heading">Օգտատիրոջ տվյալները</div>
    <hr />
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CurrentRole)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
        </dl>

        <form method="post" asp-action="Delete" asp-controller="Admin" asp-antiforgery="true">
            @Html.Hidden("userId", Model.Id)
            <input type="submit" value="Ջնջել" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-default">Վերադառնալ ցանկին</a>
        </form>
    </div>
</div>
