@model DiplomaProject.Domain.ViewModels.UserViewModel

@{
    ViewData["Title"] = $"Edit user {Model?.Username}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h3>Editing user @Model.Username</h3>

<h4>Select new role for current user.</h4>
<hr />
<div class="row">
    <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
        <div class="panel panel-success">
            <div class="panel-heading">Update roles for the specified user.</div>
            <div class="panel-body">
                <form asp-action="Edit" asp-controller="Admin" asp-antiforgery="true">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        @Html.DisplayFor(m => m.Username)
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        @Html.DisplayFor(m => m.FirstName)
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        @Html.DisplayFor(m => m.LastName)
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        @Html.DisplayFor(m => m.Email)
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        @Html.DisplayFor(m => m.PhoneNumber)
                    </div>
                    <div class="form-group">
                        <label asp-for="CurrentRoles" class="control-label"></label>
                        @Html.DisplayFor(m => m.CurrentRoles)
                    </div>
                    <div class="form-group">
                        <label asp-for="SelectedRoleId" class="control-label"></label>
                        @Html.DropDownListFor(m => m.SelectedRoleId, new SelectList(ViewBag.Roles, "Id", "Name"), optionLabel: "Select role")
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success" />
                        <a asp-action="GetUsers" class="btn btn-default">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
