@model DiplomaProject.Domain.ViewModels.StakeHolderViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Ջնջել</h2>

<h3>Վստահ եք, որ ցանկանում եք ջնջել այս շահակցին?</h3>
<div>
    <h4>Շահակցի տվյալները</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmed" asp-route-stakeholderId="@Model.Id">
        <input type="submit" value="Ջնջել" class="btn btn-danger" /> |
        <a asp-action="stakeholders" asp-controller="Admin">Հետ գնալ ցանկ</a>
    </form>
</div>
