
@{
    ViewBag.Title = "Հարցաթերթիկի կազմում";
}

<div class="space">
    <div class="page">
        <form asp-controller="StakeHolder" asp-action="Index" method="get">
            <h2>Հարցաթերթիկի կազմում</h2>
            <div id="BranchDiv" class="profession" role="form">
                <h4>Ընտրել ճյուղը</h4>
                <select id="Branch"
                        class="Branchclass"
                        asp-items="@(new SelectList(ViewBag.ListOfBranch,"Id","Name"))"
                        ></select>
            </div>
            <div id="ProfessionDiv" class="profession" role="form">
                <h4>Ընտրել մասնագիտությունը</h4>
                <select id="Profession"
                        class="Professionclass"
                        asp-items="@(new SelectList(ViewBag.ListofProfession, "Id", "Name"))"></select>
            </div>
            <div id="StakeHolder" class="checkbox">
                <h4>Ընտրել շահակցին</h4>
                @foreach (var item in ViewBag.ListOfTypeName)
                {
                    <input class="Checkbox" type="checkbox" id="@item.Id" value="@item.TypeName" />@item.TypeName<br />
                }
            </div>
            <div id="CompanyDiv" class="company">
                <h4>Ընտրել կազմակերպությունը</h4>
                <select id="Company"
                        asp-items="@(new SelectList(ViewBag.ListofCompany,"Id", "CompanyName"))"></select>
                <div class="Azat">
                    <a class="Button" href="#" onclick="OK(); return false">
                        Հաստատել
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Styles {
    <link href="~/Content/Outcomes/Questionnaire1.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/Images/questionnaire.png" rel="icon" />
}

@section Scripts{
    @*<script src="/Scripts/Questionnaire1.js" type="text/javascript"></script>*@
    <script type="text/javascript">
        var branchid;
        var branchtext;
        var proffid;
        var profftext;
        var companyid;
        var companytext;
        var selected = [];
        var str = "";
        var req = new XMLHttpRequest();
        var url = '@Url.Action("IndexSel", "StakeHolder")';
        var data = new FormData();
        req.open('POST', url, true);
        req.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        data.append("Content-Type", 'application/json; charset=utf-8');
        req.onload = function () {
            req.responseText;
        };
        $(document).ready(function () {
            $("#Branch").on('change',function (evt) {
                branchid = $("#Branch").val();
                branchtext = $("#Branch option:selected").text();
                data.set("branchid", branchid);
            });
            $("#Profession").change(function (evt) {
                proffid = $("#Profession").val();
                profftext = $("#Profession option:selected").text();
                data.set("profftext", profftext);
            });
            $("#Company").change(function (evt) {
                companyid = $("#Company").val();
                companytext = $("#Company option:selected").text();
                data.set("companyid", companyid);
            });
        });
        function OK() {
            $("#StakeHolder input:checked").each(function () {
                selected.push($(this).attr('id'));
            })
            str = selected.toString();
            data.set("stakeholder", str);
            //alert("onclick");
            req.send(data);
        }
    </script>
}
