@{
    ViewBag.Title = "Հարցաթերթիկ";
}

<div class="space">
    <div class="page">
        <h2>@ViewBag.profftext</h2>
        <h2> Մասնագետի վերջնարդյունքի հարցում</h2>
        <div asp-action="Index" method="get" class="profession" role="form">
            <h4>Խնդում ենք նախ ընտրել Ձեր պաշտոնը</h4>
            <select id="Professionname"
                    class="Professionnamehclass"
                    asp-items="@(new SelectList(ViewBag.ListOfTypeName,"Id","TypeName"))"></select>
        </div>
        <form asp-controller="StakeHolder" asp-action="Outcome" method="get" class="Form" >
            @foreach (var subject in ViewBag.ListOfSubject)
            {
                 int k = 1;
                @*@if (subject.ProfessionId == ViewBag.ProfessionId)
                    {*@
                <p class="Subject">Առարկա՝ @subject.Name </p>
                @foreach (var outcome in ViewBag.ListOfOutcomes)
                {
                    if (outcome.InitialSubjectId == subject.Id)
                    {
                        <p id="textID">@k. @outcome.Name</p>
                        <div id="Radiodiv" class="Radio">
                            <label style="margin-left:15px">1</label>
                            <label style="margin-left:20px">2</label>
                            <label style="margin-left:20px">3</label>
                            <label style="margin-left:19px">4</label>
                            <label style="margin-left:19px">5</label>
                            <label style="margin-left:19px">6</label>
                            <label style="margin-left:19px">7</label>
                            <label style="margin-left:19px">8</label>
                            <label style="margin-left:19px">9</label>
                            <label style="margin-left:15px">10</label>
                            <br />
                            <input style="margin-left:14px" type="radio" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Name" value=1 />
                            <input style="margin-left:14px" type="radio" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Name" value=2 />
                            <input style="margin-left:14px" type="radio" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Name" value=3 />
                            <input style="margin-left:14px" type="radio" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Name" value=4 />
                            <input style="margin-left:14px" type="radio" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Name" value=5 />
                            <input style="margin-left:14px" type="radio" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Name" value=6 />
                            <input style="margin-left:14px" type="radio" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Name" value=7 />
                            <input style="margin-left:14px" type="radio" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Name" value=8 />
                            <input style="margin-left:14px" type="radio" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Name" value=9 />
                            <input style="margin-left:14px" type="radio" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Name" value=10 />
                        </div>
                            k++;
                        }
                    }
                    //}
            }
            <div class="Azat">
                <a class="Button" href="#" onclick="OK(); return false">
                    Հաստատել
                </a>
            </div>
        </form>
    </div>
</div>

@section Styles {
    <link href="~/Content/Outcomes/Questionnaire2.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/Images/questionnaire.jpg" rel="icon" />
}

@section Scripts{
    <script type="text/javascript">
        var selectedName = [];
        var selectedWeight = [];
        var selectedId = [];
        var selectedSubject = [];
        var strName = "";
        var strWeight = "";
        var req = new XMLHttpRequest();
        var url = '@Url.Action("Outcome", "StakeHolder")';
        var data = new FormData();
        req.open('POST', url, true);
        req.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        data.append("Content-Type", 'application/json; charset=utf-8');
        req.onload = function () {
            req.responseText;
        };
        $(document).ready(function () {
            $("#Professionname").on('change',function (evt) {
                var stakeholderid = $("#Professionname").val();
                var stakeholdertext = $("#Professionname option:selected").text();
                //alert(branchid);
                //alert(branchtext);
                data.set("stakeholderid", stakeholderid);
            });
            $('#Radiodiv input[type=radio]').on('change',function () {
                var n = this.name;
                var w = this.value;
                var i = this.id;
                var c = this.className;
                //alert(i);
                //alert(n);
                selectedName.push(n);
                selectedWeight.push(w);
                selectedId.push(i);
                selectedSubject.push(c);
                strName = selectedName.toString();
                strWeight = selectedWeight.toString();
                strId = selectedId.toString();
                strSubject = selectedSubject.toString();
                //alert(strName);
                //alert(strWeight);
            });
        });
        function OK() {
            data.set("outcome", strName);
            data.set("weight", strWeight);
            data.set("subject", strSubject);
            data.set("id", strId);
            //alert("onclick");
            req.send(data);
        }
    </script>
}