@{
    ViewBag.Title = "Հարցաթերթիկ";
}

<div class="space">
    <div class="page">
        <h2>@ViewBag.profftext</h2>
        <h2> Մասնագետի վերջնարդյունքի հարցում</h2>
        <div asp-action="Index" method="get" class="profession" role="form">
            <h4>Խնդում ենք նախ ընտրել Ձեր պաշտոնը</h4>
            <select id="Professionname"
                    class="Professionnameclass"
                    asp-items="@(new SelectList(ViewBag.ListOfTypeName,"Id","TypeName"))">
                <option>պաշտոն</option>
            </select>
        </div>
        <form asp-controller="StakeHolder" asp-action="Outcome" method="get" class="Form">
            @foreach (var subject in ViewBag.ListOfSubject)
    {
        int k = 1;
        @*@if (subject.ProfessionId == ViewBag.ProfessionId)
    {*@
        <p class="Subject">Առարկա՝ @subject.Name </p>
        @foreach (var outcome in ViewBag.ListOfOutcomes)
{
    if (outcome.InitialSubjectId == subject.Id)
    {
        <p id="textID">@k. @outcome.Name</p>
        <div id="Radiodiv" class="Radio">
            <label for="@outcome.OutComeTypeId" style="margin-left:16px">0</label>
            <label for="@outcome.OutComeTypeId" style="margin-left:18px">1</label>
            <label for="@outcome.OutComeTypeId" style="margin-left:20px">2</label>
            <label for="@outcome.OutComeTypeId" style="margin-left:20px">3</label>
            <label for="@outcome.OutComeTypeId" style="margin-left:19px">4</label>
            <label for="@outcome.OutComeTypeId" style="margin-left:19px">5</label>
            <label for="@outcome.OutComeTypeId" style="margin-left:19px">6</label>
            <label for="@outcome.OutComeTypeId" style="margin-left:19px">7</label>
            <label for="@outcome.OutComeTypeId" style="margin-left:19px">8</label>
            <label for="@outcome.OutComeTypeId" style="margin-left:19px">9</label>
            <label for="@outcome.OutComeTypeId" style="margin-left:15px">10</label>
            <br />
            <input style="margin-left:14px" type="radio" title="@outcome.Name" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Id" value=0 />
            <input style="margin-left:14px" type="radio" title="@outcome.Name" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Id" value=1 />
            <input style="margin-left:14px" type="radio" title="@outcome.Name" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Id" value=2 />
            <input style="margin-left:14px" type="radio" title="@outcome.Name" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Id" value=3 />
            <input style="margin-left:14px" type="radio" title="@outcome.Name" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Id" value=4 />
            <input style="margin-left:14px" type="radio" title="@outcome.Name" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Id" value=5 />
            <input style="margin-left:14px" type="radio" title="@outcome.Name" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Id" value=6 />
            <input style="margin-left:14px" type="radio" title="@outcome.Name" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Id" value=7 />
            <input style="margin-left:14px" type="radio" title="@outcome.Name" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Id" value=8 />
            <input style="margin-left:14px" type="radio" title="@outcome.Name" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Id" value=9 />
            <input style="margin-left:14px" type="radio" title="@outcome.Name" class="@outcome.InitialSubjectId" id="@outcome.OutComeTypeId" name="@outcome.Id" value=10 />
        </div>
k++;
}
}
//}
}
            <div class="Azat">
                <a class="Button" href="#" onclick="OK(); return false">
                    Հաստատել
                </a>
            </div>
        </form>
    </div>
</div>

@section Styles {
<link rel="stylesheet" href="~/custom_contents/Questionnaire2.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/Images/questionnaire.jpg" rel="icon" />
}

@section Scripts{
    <script type="text/javascript">
        var j = 0
        var a = 0;
        var countofcheck = 0;
        var selectedName = [];
        var selectedWeight = [];
        var selectedId = [];
        var selectedSubject = [];
        var strName = "";
        var strWeight = "";
        var k;
        var req = new XMLHttpRequest();
        var url = '@Url.Action("Outcome", "StakeHolder")';
        var data = new FormData();
        req.open('POST', url, true);
        req.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        data.append("Content-Type", 'application/json; charset=utf-8');
        req.onload = function () {
            req.responseText;
        };
        $(document).ready(function () {
            $("#Professionname").on('change',function (evt) {
                var stakeholderid = $("#Professionname").val();
                var stakeholdertext = $("#Professionname option:selected").text();
                //alert(branchid);
                //alert(branchtext);
                data.set("stakeholderid", stakeholderid);
            });
            $('#Radiodiv input[type=radio]').on('change', function () {
                $(this).css('background-color', 'Green');
                var n = this.title;
                var w = this.value;
                var i = this.id;
                var c = this.className;
                //alert(i);
                //alert(n);
                selectedName.push(n);
                selectedWeight.push(w);
                selectedId.push(i);
                selectedSubject.push(c);
                strName = selectedName.toString();
                strWeight = selectedWeight.toString();
                strId = selectedId.toString();
                strSubject = selectedSubject.toString();
                //alert(strName);
                //alert(strWeight);
            });
        });
        function OK() {
            groups = {};
            var arr = [];
            var l = 0;
            var all_input = document.querySelectorAll('input[type="radio"]');
            for (var i = 0; i < all_input.length; ++i) {
                if (!(all_input[i].name in groups)) {
                    groups[all_input[i].name] = 0;
                    arr[l] = all_input[i].name;
                    l++;
                }
            }
            for (var i = 0; i < all_input.length; i += 10 + a) {
                j = i;
                while (j <= i + 10) {
                    if (all_input[j].checked) {
                        countofcheck += 1;
                        break;
                    }
                    j++;
                }
                a = 1;
            }
            if (countofcheck < arr.length) {
                alert("Առկա են չլրացված դաշտեր, խնդրում ենք լրացնել դրանք", "Հաղորդագրություն");
            }
            else {
                alert("Շնորհակալություն ուշադրության համար", "Հաղորդագրություն");
                data.set("outcomeName", strName);
                data.set("weight", strWeight);
                data.set("subject", strSubject);
                data.set("outcomeid", strId);
                req.send(data);
            }
            
        }
    </script>
}