@model UserViewModel
<div class="col-sm-4 col-md-3 sidebar">
    <div class="mini-submenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div class="list-group">
        <span href="#" class="list-group-item active">
            Մենյու
            <span class="pull-right" id="slide-submenu">
                <i class="glyphicon glyphicon-pushpin"></i>
            </span>
        </span>
        <ul class="list-group list-unstyled">
            <li>
                <a href="@Url.Action("Index", "Admin")" class="list-group-item">
                    <span class="glyphicon glyphicon-user"></span> Օգտագործողներ
                </a>
            </li>
            @{ if (Model.UserRoles.Any(s => s.RoleName.ToUpper() == "BASEADMIN" || s.RoleName.ToUpper() == "DEPARTMENTADMIN" || s.RoleName.ToUpper() == "REQUESTSENDER"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Stakeholder")" class="list-group-item">
                            <i class="glyphicon glyphicon-education"></i> Շահակիցներ
                        </a>
                    </li>
                }
            }
            @if (Model.UserRoles.Any(s => s.RoleName == "DepartmentAdmin"))
            {
                    <li>
                        <a href="@Url.Action("Index", "Profession")" class="list-group-item">
                            <i class="glyphicon glyphicon-wrench"></i> Կարգավորումներ
                        </a>
                    </li>

            }
            @if (Model.UserRoles.Any(s => s.RoleName == "RequestSender"))
            {
                <li>
                    <a id="lnProfessions" href="#" class="list-group-item" data-toggle="collapse" data-target="#prefessionsforoutcome" aria-expanded="false">
                        <i class="glyphicon glyphicon-asterisk"></i> Վերջնարդյունքներ
                    </a>
                    <ul class="collapse" id="prefessionsforoutcome" role="menu" aria-labelledby="lnPrefessions">
                        @foreach (var item in Model.UserRoles.Where(s => s.RoleName == "RequestSender"))
                        {
                            <li>
                                <a href="@Url.Action("Index", "Outcomes", new { professionoId = item.ProfessionId })">@item.ProfessionName</a>
                            </li>
                        }
                    </ul>
                </li>
            }

            @if (Model.UserRoles.Any(s => s.RoleName == "SubjectMaker" || s.RoleName == "DepartmentAdmin" || s.RoleName == "CurriculumMaker"))
            {
                <li>
                    <a id="lnkProfessions" href="#" class="list-group-item" data-toggle="collapse" data-target="#prefessions" aria-expanded="false">
                        <i class="glyphicon glyphicon-book"></i> Առարկաներ

                    </a>
                    <ul class="collapse" id="prefessions" role="menu" aria-labelledby="lnkPrefessions">
                        @foreach (var item in Model.UserRoles.Where(s => s.RoleName == "SubjectMaker" || s.RoleName == "DepartmentAdmin" || s.RoleName == "CurriculumMaker"))
                        {
                            <li>
                                <a href="@Url.Action("Index", "Subject", new { professionId = item.ProfessionId } )">@item.ProfessionName</a>
                            </li>
                        }
                    </ul>
                </li>


            }

            @if (Model.UserRoles.Any(s => s.RoleName == "LaborMaker"))
            {
                <li>
                    <a id="creditProfessions" href="#" class="list-group-item" data-toggle="collapse" data-target="#professionsCredit" aria-expanded="false">
                        <i class="glyphicon glyphicon-book"></i> Կրեդիտի և ժամերի հաշվարկ
                    </a>
                    <ul class="collapse" id="professionsCredit" role="menu" aria-labelledby="creditProfessions">
                        @foreach (var item in Model.UserRoles.Where(s => s.RoleName == "LaborMaker"))
                        {
                            <li>
                                <a href="@Url.Action("Index", "Subject", new { professionId = item.ProfessionId } )">@item.ProfessionName</a>
                            </li>
                        }
                    </ul>
                </li>

            }
            @if (Model.UserRoles.Any(s => s.RoleName == "CurriculumMaker"))
            {
                <li>
                    <a id="curriculumProfessions" href="#" class="list-group-item" data-toggle="collapse" data-target="#professionsCurriculum" aria-expanded="false">
                        <i class="glyphicon glyphicon-screenshot"></i> Ուսումնական պլան
                    </a>
                    <ul class="collapse" id="professionsCurriculum" role="menu" aria-labelledby="curriculumProfessions">
       @foreach (var item in Model.UserRoles.Where(s => s.RoleName == "CurriculumMaker"))
        {
                <li>
                    <a href="@Url.Action("SubOut", "SubjectList", new { professionsId = item.ProfessionId }  )">@item.ProfessionName</a>
                </li>
        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>