@model IEnumerable<UserViewModel>


<table id="user-tbl" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Username)</th>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                @{ if (ViewBag.RoleName == "DEPARTMENTADMIN")
                    {
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Խմբագրել">
                                <a asp-action="Edit" asp-route-userId="@user.Id" class="btn btn-success btn-xs" data-title="Խմբագրել" data-toggle="modal">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Հեռացնել">
                                <a asp-action="Delete" asp-route-userId="@user.Id" class="btn btn-danger btn-xs" data-title="Հեռացնել" data-toggle="modal">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </p>
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>