@model IEnumerable<DiplomaProject.Domain.ViewModels.StakeHolderViewModel>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stakeholder in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => stakeholder.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => stakeholder.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => stakeholder.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => stakeholder.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => stakeholder.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => stakeholder.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => stakeholder.BranchName)
                </td>
                @{ if (ViewBag.RoleName == "DEPARTMENTADMIN")
                    {
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Խմբագրել">
                                <a asp-action="Edit" asp-controller="Stakeholder" asp-route-stakeholderId="@stakeholder.Id" class="btn btn-success btn-xs" data-title="Խմբագրել" data-toggle="modal">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </p>
                            <p data-placement="top" data-toggle="tooltip" title="Մանրամասն">
                                <a asp-action="Details" asp-controller="Stakeholder" asp-route-stakeholderId="@stakeholder.Id" class="btn btn-info btn-xs" data-title="Մանրամասն" data-toggle="modal">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </a>
                            </p>
                            <p data-placement="top" data-toggle="tooltip" title="Ջնջել">
                                <a asp-action="Delete" asp-controller="Stakeholder" asp-route-stakeholderId="@stakeholder.Id" class="btn btn-danger btn-xs" data-title="Ջնջել" data-toggle="modal">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </p>
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
